*{
    padding: 0;
    margin: 0;
}
.LandingPage{
    display: flex;
    flex-direction: row;
}
.Lenspic{
    height: 100vh;
    width: 50vw;
}
.rightSection{
    text-align: center;
    margin: 40vh 15vw;
}
.rightSection h1{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
    color: #006238;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 4vh;
}
.button{
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #006238;
    border: 3px solid #006238;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 5px 15px;
    background-color: white;
    font-weight: lighter;
}
.button:hover{
    background-color: aquamarine;
}